/* --- STATISTICS --- */
.statistics {
  text-align: center;
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 0.3);
}
.statistics__title {
  padding-block: 30px;
  padding-inline: 15px;

  color: rgb(105, 105, 105);
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
}
.statistics__stat-list {
  display: grid;
  grid-auto-columns: 1fr;
  color: #f5f5f5;
}
@media screen and (min-width: 320px) {
  .statistics__stat-list {
    grid-auto-flow: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .statistics__stat-list--nested {
    grid-template-columns: repeat(4, 73px);
    grid-auto-flow: dense;
  }
  .statistics__stat-list--nested :nth-child(n + 5) {
    grid-column: 1/ -1;
  }
}

.statistics__stat-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-block: 10px 16.5px;
  padding-inline: 20px;

  /* background-color: #28f728; 5 */
  /* background-color: #1bb6b6; 4 */
  /* background-color: #15cff0; /* 3 */
  /* background-color: #c226ff; /* 2 */
  /* background-color: #ff4463; /* 1 */
}

.statistics__label {
  font-size: 0.9rem;
}
.statistics__percentage {
  font-size: 1.1rem;
}
